@page
@model HipicaFacilSQL.Pages.Clientes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>Cadastrar Cliente</h4>
<br />
<form method="post">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="nome" placeholder=" " required asp-for="Cliente.Nome" />
                    <label for="nome">Nome:</label>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-floating">
                    <input type="email" id="email" asp-for="Cliente.Email" class="form-control" placeholder=" " />
                    <label for="email">Email:</label>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6">
                <div class="form-floating">
                    <input type="text" id="cpf" asp-for="Cliente.Cpf" class="form-control" placeholder="Ex: 123.456.789-10" required pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" oninput="formatarCPF(this)" />

                    <label for="cpf">CPF:</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating">
                    <input type="text" id="telefone" asp-for="Cliente.Telefone" class="form-control" placeholder="Ex: (12)34567-8901" required pattern="\(\d{2}\)\d{5}-\d{4}" oninput="formatarTelefone(this)" />

                    <label for="telefone">Telefone:</label>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <div class="form-floating">
                    <input type="text" id="endereco" asp-for="Cliente.Endereco" class="form-control" placeholder=" " />
                    <label for="endereco">Endereço:</label>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12 ">
                <button type="submit" value="Create" class="btn btn-primary mt-3">Adicionar Cliente</button>
            </div>
        </div>
    </div>
</form>

@* <form method="post">
   <div class="container text-md-start">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cliente.Nome" class="control-label"></label>
                <input asp-for="Cliente.Nome" class="form-control" />
                <span asp-validation-for="Cliente.Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Cliente.Email" class="control-label"></label>
                <input asp-for="Cliente.Email" class="form-control" />
                <span asp-validation-for="Cliente.Email" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Cliente.Cpf" class="control-label"></label>
                <input asp-for="Cliente.Cpf" class="form-control" />
                <span asp-validation-for="Cliente.Cpf" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Cliente.Telefone" class="control-label"></label>
                <input asp-for="Cliente.Telefone" class="form-control" />
                <span asp-validation-for="Cliente.Telefone" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Cliente.Endereco" class="control-label"></label>
                <input asp-for="Cliente.Endereco" class="form-control" />
                <span asp-validation-for="Cliente.Endereco" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
    </div>
</form> *@
<div>
    <a asp-page="Index">  Voltar </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}










