@page
@model HipicaFacilSQL.Pages.Produtos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Produto</h4>
<hr />


<form method="post">
    <input type="hidden" asp-for="Produto.ID" /> @*NAO DELETA, SENAO O CODIGO QUEBRA*@
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="nome" placeholder="" required asp-for="Produto.Nome" />
                    <label for="nome">Nome:</label>
                    <small class="text-muted">Ex: Feno</small>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating">
                    <select id="raca" asp-for="Produto.Tipo" class="form-select" required>
                        <option value="">Selecione o tipo do produto</option>
                        <option value="Perecivel">Perecível</option>
                        <option value="Não perecivel">Nao Perecível</option>
                    </select>
                    <label for="tipo">Tipo:</label>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <div class="form-floating">
                    <input type="text" id="descricao" asp-for="Produto.Descricao" class="form-control" placeholder=" " />
                    <label for="descricao">Descrição:</label>
                    <small class="text-muted">Ex: Ração do cavalo</small>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-floating">
                    <input type="text" id="data" asp-for="Produto.Validade" class="form-control" placeholder=" " maxlength="10" required pattern="\d{2}/\d{2}/\d{4}" oninput="formatarData(this)" />
                    <label for="data">Validade:</label>
                    <small class="text-muted">Ex: 04/10/2032</small>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-floating">
                    <input type="number" id="quantidade" asp-for="Produto.Quantidade" class="form-control" placeholder=" " />
                    <label for="Quantidade">Quantidade:</label>
                    <small class="text-muted">Ex: 5</small>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" value="Create" class="btn btn-primary mt-3">Cadastrar Produto</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-page="Index"><i class="fa-solid fa-backward-step"></i>  Voltar para a Tabela</a>
</div>
@* <div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Produto.Nome" class="control-label"></label>
                <input asp-for="Produto.Nome" class="form-control" />
                <span asp-validation-for="Produto.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto.Validade" class="control-label"></label>
                <input asp-for="Produto.Validade" class="form-control" />
                <span asp-validation-for="Produto.Validade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto.Descricao" class="control-label"></label>
                <input asp-for="Produto.Descricao" class="form-control" />
                <span asp-validation-for="Produto.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index"><i class="fa-solid fa-backward-step"></i>  Voltar para a Tabela</a>
</div>
 *@
@section Scripts {
    <script>
        // Função para formatar a data de nascimento
        function formatarData(campo) {
            // Remove tudo que não for número
            var valor = campo.value.replace(/\D/g, '');

            // Formata a data: dd/mm/yyyy
            valor = valor.replace(/(\d{2})(\d)/, '$1/$2');
            valor = valor.replace(/(\d{2})(\d)/, '$1/$2');
            valor = valor.replace(/(\d{4})(\d{1,2})$/, '$1');

            // Atualiza o valor do campo
            campo.value = valor;
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
