@page
@model HipicaFacilSQL.Pages.Financas.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="fs-2"><i class="fa-solid fa-money-bills"></i>&ensp;Cadastro de Receita/Despesa</h1>
<hr />
<br />

<form method="post">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="nome" placeholder="" maxlength="50" required asp-for="Financa.Nome" />
                    <label for="nome">Nome:</label>
                    <small class="text-muted">Ex: "Racao"</small>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating">
                    <select id="tipo" asp-for="Financa.Tipo" class="form-select" required>
                        <option value="Receita">Receita</option>
                        <option value="Despesa">Despesa</option>
                    </select>
                    <label for="tipo">Tipo:</label>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <div class="form-floating">
                    <input type="number" id="valor" asp-for="Financa.Valor" class="form-control" placeholder=" " />
                    <label for="valor">Valor:</label>
                    <small class="text-muted">Ex: "1200"</small>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-floating">
                    <input type="text" id="descricao" asp-for="Financa.Descricao" class="form-control" placeholder=" " />
                    <label for="descricao">Descrição:</label>
                    <small class="text-muted">Ex: "Racao dos cavalos de corrida"</small>
                </div>
            </div> 
            <div class="col-sm-4">
                <div class="form-floating">
                    <input type="number" id="quantidade" asp-for="Financa.Quantidade" class="form-control" placeholder=" " />
                    <label for="quantidade">Quantidade:</label>
                    <small class="text-muted">Ex: "5"</small>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" value="Create" class="btn btn-primary mt-3">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-page="Index"><i class="fa-solid fa-backward-step"></i>  Voltar para a Tabela</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
