@page
@model HipicaFacilSQL.Pages.Cavalos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cavalo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cavalo.Nome" class="control-label"></label>
                <input asp-for="Cavalo.Nome" class="form-control" />
                <span asp-validation-for="Cavalo.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cavalo.Raca" class="control-label"></label>
                <input asp-for="Cavalo.Raca" class="form-control" />
                <span asp-validation-for="Cavalo.Raca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cavalo.Idade" class="control-label"></label>
                <input asp-for="Cavalo.Idade" class="form-control" />
                <span asp-validation-for="Cavalo.Idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cavalo.Peso" class="control-label"></label>
                <input asp-for="Cavalo.Peso" class="form-control" />
                <span asp-validation-for="Cavalo.Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
