@page
@model HipicaFacilSQL.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h1 class="fs-2">Dashboard</h1>
<hr />

<div class="container">
    <canvas id="financeChart" width="400" height="200"></canvas>
</div>

<div class="container">
    <p>Média Total: @Model.MediaTotal.ToString("C")</p>
</div>

@section Scripts {
    <script>
        var ctx = document.getElementById('financeChart').getContext('2d');
        var financeData = @Html.Raw(Model.FinanceChartData());

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: financeData.labels,
                datasets: [{
                    label: 'Valor: R$',
                    data: financeData.values,
                    backgroundColor: financeData.values.map(val => val < 0 ? 'rgba(255, 99, 132, 0.2)' : 'rgba(75, 192, 192, 0.2)'),
                    borderColor: financeData.values.map(val => val < 0 ? 'rgba(255, 99, 132, 1)' : 'rgba(75, 192, 192, 1)'),
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            callback: function (value, index, values) {
                                return 'R$ ' + Math.abs(value).toFixed(2);
                            }
                        }
                    }]
                }
            }
        });
    </script>
}
